pft/
ft_printf/libft/
ft_printf/42TESTERS-PRINTF/
ft_printf/tester/
ft_printf/test.c
ft_printf/test.o
ft_printf/main.c
ft_printf/a.out
ft_printf/ft_printf.h.gch
verify
libft-war-machine
testing/
get_next_line/oi